<div class="edit-title">Update Personal Information</div>
<%= simple_form_for @user do |f| %>
  <div>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :old_password %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <div class="btn-form col-md-offset-5 col-md-4 hvr-grow">
      <%= f.button :submit, "Update Information", class:"btn-edit-info" %>
    </div>
  </div>
<% end %>
