<div class="form-container">
<h1 class="lobster">Update your personal information</h1>
<%= simple_form_for @user do |f| %>
  <div>
    <%= f.input :first_name %>
  </div>
  <div>
    <%= f.input :last_name %>
  </div>
  <div>
    <%= f.input :email %>
  </div>
  <div>
    <%= f.input :old_password %>
  </div>
  <div>
    <%= f.input :password %>
  </div>
  <div>
    <%= f.input :password_confirmation %>
  </div>
  <div>
    <%= f.button :submit, "Update Information" %>
  </div>
<% end %>
</div>
