<h1 class="project-title">Projects</h1>
<div class="project-show">
  <% @user.projects.each do |project| %>
  <div class="well project-border">
    <h3><%= project.title %> (<%= project.time_period %>) </h3>
    <div class="row">
      <% if project.project_image.url(:medium) %>
      <div class="col-lg-3 col-md-3 project-image"->
        <%= image_tag project.project_image.url(:medium) %>
      </div>
      <% end %>
      <div class="col-lg-9 col-md-9 project-body-show text-content-just">
        <%= project.body %>
      <div>
        <i class="fa fa-github" aria-hidden="true"></i>
        <%= project.source_code %>
      </div>
      <div>
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <%= project.project_url %>
      </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
