<h1 class="lobster">Edit your Account</h3>
<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :location %>
  <%= f.input :password, label: "Current Password" %>
  <%= f.input :new_password, label: "New password" %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Update" %>
<% end %>
