<div class="container">
  <div class="project-container">
    <div class="edit-title">Projects</div>
    <%= simple_form_for @user do |f| %>
    <div class="projects">
      <%= f.simple_fields_for :projects do |r| %>
      <%= render "project_fields", f: r %>
      <% end %>
      <div class="hvr-grow">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <%= link_to_add_association 'Add New Project', f, :projects %>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-form hvr-grow">
      <%= f.button :submit, "Update Project", class:"btn-project" %>
    </div>
    <% end %>
  </div>
</div>
