<div class="container">
  <div class="opening-container">
    <div class="edit-title">Openings</div>
    <%= simple_form_for @user do |f| %>
    <div class="openings">
      <%= f.simple_fields_for :openings do |r| %>
      <%= render "opening_fields", f: r %>
      <% end %>
      <div class="hvr-grow">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <%= link_to_add_association 'Add New Opening', f, :openings %>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-form hvr-grow">
      <%= f.button :submit, "Update Openings", class:"btn-opening" %>
    </div>
    <% end %>
  </div>
</div>
