<div class="container">
  <div class="show-container-padding-top">
    <div id="profile-container">
      <div class="show-container-padding">
        <div class="edit-title">Edit your Profile</div>
        <%= simple_form_for @user do |f| %>
          <%= f.input :profile_picture %>
          <%= f.input :location %>
          <%= f.input :current_position %>
          <%= f.input :current_company %>
          <%= f.input :phone_number %>
          <%= f.input :github %>
          <%= f.input :summary, maxlength: "550", :input_html => { 'rows' => 5 } %>
          <% User::TAG_CONTEXTS.each do |tag_context| %>
            <%= f.input "#{tag_context}_list",
                          # label: "#{tag_context}",
                          collection: Tag.tags_for_context(tag_context).map(&:name),
                          as: :select,
                          include_blank: true,
                          input_html: {"multiple": "" } %>
          <% end %>
          <div class="btn-form col-md-offset-5 col-md-4 hvr-grow">
            <%= f.button :submit, "Update Profile" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('select').select2({
    tags: true,
    tokenSeparators: [',']
  });
</script>
