<h1 class="center">Register</h1>
<div class="form-container">
<%= simple_form_for @user do |f| %>
    <%= f.input :first_name, placeholder: 'e.g. Nancy' %>
    <%= f.input :last_name, placeholder: 'e.g. Lu' %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :location, placeholder: 'e.g. Vancouver, Canada' %>
    <%= f.input :current_position, placeholder: 'e.g. Student' %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, "Register" %>
<% end %>
</div>
