<div class="container">
  <div class="show-container-padding-top">
    <div id="show-container">
      <div class="show-container-padding">
      <div>
        <%= image_tag @user.profile_picture.url(:version_profile_image), class: "profile-pic"%>
      </div>
      <div>
        <div class="profile-header-name bold">
          <%= @user.full_name %>
        </div>
        <div class="profile-header">
          <%= @user.current_position %>
          <% if (@user.current_company != "") %>
          at <%= @user.current_company %>
          <% end %>
        </div>
      </div>

      <div class="profile-summary">
        <%= @user.summary %>
      </div>

      <div class="profile-github">
        <div>
        <i class="fa fa-github" aria-hidden="true"></i>
        <%= @user.github %>
        </div>
        <div>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <%= @user.email %>
        </div>
        <div>
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <%= @user.phone_number %>
        </div>
      </div>

<!-- following -->
      <!-- <div>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
        <%= render 'follow_form' if user_signed_in? %>
      </div> -->
      <div class="">
        <span id="follow-stats">
          <button type="button" class="btn btn-default hrv-grow">25 following</button>
          <button type="button" class="btn btn-default hrv-grow">12 followers</button>
        </span>

        <span id="follow-button">
          <button type="button" class="btn btn-primary hvr-grow">&nbsp;&nbsp;Follow&nbsp;&nbsp;</button>
        </span>
      </div>
      <!--  -->

      <div class="col-md-6">
        <%= render 'opening_show'if @user.openings %>
      </div>
      <div class="col-md-6">
        <%= render 'tag_show' if (@user.tags) %>
      </div>

      <div class="col-lg-12 col-md-12">
        <%= render 'experience_show' if (@user.experiences) %>
      </div>

      <div class="col-lg-12 col-md-12">
        <%= render 'project_show' if @user.projects %>
      </div>

      <div id="followers-div">
        <div class="col-lg-12 col-md-12">
          <h1 id="user-map-title"><%= @user.first_name %>'s following...</h1>
        </div>
        <div>
          <div id="map" class="map"></div>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var m = <%= raw user_markers_builder(@user).to_json %>
    markers = handler.addMarkers(m);

    var polylines = [
      <%= raw line_coordinates_lat_lng(@user).to_json %>
    ]

    handler.addPolylines(polylines)

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
