<% if can? :manage, @user %>
  <h1>Change password</h1>

  <% if @user.errors.full_messages.size > 0 %>
  <div class="alert">
    <%= @user.errors.full_messages.join(",") %>
  </div>
  <% end %>
  <div>
    <%= simple_form_for @user, url: user_password_path(@user), method: :patch do |f| %>
      <%= f.input :old_password %>
      <%= f.input :new_password %>
      <%= f.input :password_confirmation%>
      <%= f.button "Update Password", class:"btn btn-danger"%>
    <% end %>

  </div>
  <% end %>
