<div class="container">
  <div id="welcome-title">Welcome to 6Degrees</div>
  <div id="map" class="index-map"></div>
</div>

<div id="index-search">
  <div class="container">
    <%= simple_form_for @user, url:root_path, method: :get do |f| %>
      <div class="row">
        <h1 id="search-title">Search for</h1>
      </div>
      <div class="row">
        <div class="col-md-10">
        <%= f.input "tag_ids", label: false,
                      collection: Tag.all.map(&:name),
                      as: :select,
                      include_blank: true,
                      input_html: {"multiple": ""} %>
        </div>
        <div class="col-md-2 hvr-pulse">
            <%= f.button :submit, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, id:"search-btn" %>
        </div>
      </div>
    <% end %>
      <div class="row">
        <div class="col-md-12">
          <% if @params %>
          You have searched for: <span id="params-display"><%= @params %></span>
          <% end %>
        </div>
      </div>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>


<script type="text/javascript">
  $('select').select2({
    tags: true,
    tokenSeparators: [',']
  });
</script>
