<h1>New Post</h1>
<%= @post.errors.full_messages.join(", ") %>
<%= simple_form_for @post do |f|  %>
  <div>
    <%= f.input :post_title %>
  </div>
  <div>
    <%= f.input :post_body%>
  </div>
    <%= f.submit class: "btn btn-primary"%>
<% end %>
