<div class="container post-index-container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="image-resize">
        <%= image_tag current_user.profile_picture.url(:version_profile_image), class: "profile-pic"%>
      </div>
      <div class="form-container">
        <h1 class="center">Create New Post</h1>
        <%= simple_form_for @post, remote: true do |f|  %>
        <div>
          <%= f.input :post_image, label: false %>
        </div>
        <div>
          <%= f.input :post_body, label: false%>
        </div>
        <div>
          <%= f.submit class: "btn btn-default hvr-grow btn-center"%>
        </div>
        <% end %>
      </div>
    </div>
<!-- Show posts -->
    <div class="col-lg-8 col-md-6 post-all">
      <h1 id="all-posts-title">All Posts</h1>
      <div id="posts">
        <% current_user.feed.each do |post| %>
          <%= render "posts/post", post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div>
