<div class="container">
  <div class="show-container-padding-top">
    <div class="post-container">
      <div class="show-container-padding">
        <div class="text-color">
        <h1 class="center">New Post</h1>
          <div class="form-container">
          <%= simple_form_for @post do |f|  %>
          <!-- <div>
            <%= f.input :post_title %>
          </div> -->
          <div>
            <%= f.input :post_image, label: false %>
          </div>
          <div>
            <%= f.input :post_body, label: false%>
          </div>
          <div>
            <%= f.submit class: "btn btn-default hvr-grow btn-center"%>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="post-all">
  <div class="container">
    <h1 id="all-posts-title">All Posts</h1>
      <% @posts.each do |post| %>
        <div class="post-background">
          <%= post.user.full_name %>:
          <div class="post-title-text">
            <!-- <%= link_to post.post_title, post_path(post)%> -->
          </div>
          <div >
            <%= post.post_body %>
          </div>
          <div >
            <%= image_tag(post.post_image.url(:medium)) if post.post_image.url(:medium)%>
          </div>
      </div>
      <% end %>
  </div>
</div>
