<nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container topnav">
    <div class="nav-bar header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav lobster hvr-grow" href="http://localhost:3000/"><span id="six-degrees">6Degrees</span>&nbsp;&nbsp;<span id="for">for</span><span id="web-dev">Web Developers</span></a>
    <div class="collapse navbar-collapse">
      <ul class= "nav navbar-nav navbar-right" role="tablist">
        <% if user_signed_in? %>
          <li id="welcome-name">Welcome, <%= current_user.first_name %>!</li>
          <li class= "hvr-grow"><%= link_to "Home", posts_path %></li>
          <li class= "hvr-grow"><%= link_to "Profile", user_path(current_user) %></li>
          <li class="dropdown">
            <a class="dropdown-toggle hvr-grow" id="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-background">
              <li class="dropdown-hover hvr-grow"><%= link_to "Edit Profile",  user_profile_path(current_user), class: "nav-links"  %></li>
              <li class="dropdown-hover hvr-grow"><%= link_to "Edit Experience",  user_experience_path(current_user), class: "nav-links"  %></li>
              <li class="dropdown-hover hvr-grow"><%= link_to "Edit Projects",  user_project_path(current_user), class: "nav-links"  %></li>
              <li class="dropdown-hover hvr-grow"><%= link_to "Edit Openings",  user_opening_path(current_user), class: "nav-links"  %></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-hover hvr-grow"><%= link_to "Edit my Account", edit_user_path(current_user), class: "nav-links"  %></li>
            </ul>
          </li>
          <li class= "hvr-grow"><%= link_to fa_icon('sign-out'), sessions_path, method: :delete %></li>
          <li id="google_translate_element"></li>
        <% else %>
          <li class="dropdown">
            <a class="dropdown-toggle hvr-pulse" id="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>
            <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-background">
              <li class="dropdown-hover"><%= link_to "Register", new_user_path, class: "nav-links"  %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Sign In', '#', id: "sign-in-link", data: { popup_open: "popup-1" }  %></li>
                <%= render 'sessions/sign_in_form' %>
              <li class="dropdown-hover"><%= link_to "Sign In with LinkedIn", sign_in_with_linkedin_path, class: "nav-links"  %></li>
            </ul>
          </li>
          <li id="google_translate_element"></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
