<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "New Post", new_post_path %>
    <%= link_to "All Posts", posts_path %>
    <% if user_signed_in? %>
      Welcome <%= current_user.full_name %>!
      <%= link_to "Sign Out", sessions_path, method: :deleteareur %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %>
      <%= link_to "Sign In", new_session_path %>
    <% end %>

    <%= flash[:notice] || flash[:alert] %>
    <%= yield %>
  </body>
</html>
